BR2_arm=y
BR2_cortex_a7=y
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TARGET_GENERIC_HOSTNAME="dungnt98v3s"
BR2_INIT_SYSTEMD=y
BR2_TARGET_GENERIC_ROOT_PASSWD="1"
BR2_PACKAGE_PAHO_MQTT_C=y
BR2_TARGET_ROOTFS_TAR_XZ=y
